{% extends 'LadensiaAdminBundle:Cms:index.html.twig' %}

                    {% block cms_content %}
                    <div id="grunddaten" class="site">
                        <div class="main-content grid_7 omega">
                            <header>
                                <ul class="action-buttons clearfix fr" id="navi">
                                    <li><a href="{{ path('LadensiaAdminBundle_add_news') }}" class="button-icon no-text"><span class="add"></span></a></li>
                                </ul>
                                <h2>News</h2>
                            </header>
                            <section class="clearfix">
                                <table class="datatable tablesort selectable paginate full">
                                    <thead>
                                        <tr>
                                            <th>Überschrift</th>
                                            <th>Erstellt am</th>
                                            <th style="width: 80px"></th>
                                            <th style="width: 80px"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Überschrift</th>
                                            <th>Erstellt am</th>
                                            <th style="width: 80px"></th>
                                            <th style="width: 80px"></th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                    {% if news %}
                                        {% for posting in news %}
                                        <tr id="{{ posting.id }}">
                                                <td>{{ posting.heading }}</td>
                                                <td>{{ posting.createdAt }}</td>
                                                <td><a href="#" class="confirm-message" onclick="setPostingId('{{ posting.id }}')"><img src="{{ asset('admin/images/icons/delete.png') }}" alt="delete" class="cat_del" /></a></td>
                                                <td><a href="{{path('LadensiaAdminBundle_edit_news', {'postingId': posting.id }) }}"><img src="{{ asset('admin/images/icons/pencil.png') }}" alt="edit" /></a></td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4" align="center">Keine News vorhanden</td>
                                        </tr>
                                    {% endif %} 
                                    </tbody>
                                    
                                </table>
                                <div id="dialog-confirm" title="Posting löschen?" style="display: none;">
                                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Dieses Posting wird dauerhaft gelöscht. Sind Sie sicher?</p>
                                </div>

                                <div id="dialog-success" title="Posting gelöscht" style="display: none;">
                                        <p><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 20px 0;"></span>Das Posting wurde erfolgreich gelöscht.</p>
                                </div>
                            </section>
                        </div>
                    </div>

                    {% endblock %}