{% extends 'LadensiaAdminBundle:Support:index.html.twig' %}

                    {% block support_content %}
                    <div id="grunddaten" class="site">
                        <div class="main-content grid_7 omega">
                            <header>
                                <h2>Knowledgebase Kategorien</h2>
                                
                            </header>
                            <section class="clearfix">
                                <form action="" method="post" {{ form_enctype(form) }} class="form">
                                    {{ form_errors(form) }}
                                    <div class="clearfix">
                                        {{ form_label(form.name) }}
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                    <div class="clearfix">
                                        {{ form_label(form.description) }}
                                        {{ form_errors(form.description) }}
                                        {{ form_widget(form.description) }}
                                    </div>
                                    {{ form_rest(form) }}

                                    <div class="action clearfix">
                                        <button type="submit" class="button button-gray">Neue Kategorie anlegen</button>
                                    </div>
                                 </form>

                            </section>
                        </div>
                    </div>
                    {% endblock %}
