{% extends 'LadensiaAdminBundle:Sale:index.html.twig' %}
                
                    {% block sale_content %}
                    <!-- Forms Section -->
                    <div id="grunddaten" class="site">
                        <div class="main-content grid_7 omega">
                            <header>
                                <ul class="action-buttons clearfix fr">
                                    <li><a href="{{ path('LadensiaAdminBundle_new_order') }}" class="button button-gray no-text form-new"><span class="add"></span></a></li>
                                </ul>
                                <h2>Bestellungen</h2>
                            </header>
                            <section class="clearfix">
                                <table class="datatable tablesort selectable paginate full">
                                    <thead>
                                        <tr>
                                            <th>Bst.Nr.</th>
                                            <th>Kunde</th>
                                            <th>Betrag</th>
                                            <th>Bestellt am</th>
                                            <th>Status</th>
                                            <th style="width: 55px"></th>
                                            <th style="width: 55px"></th>
                                            <th style="width: 55px"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Bst.Nr.</th>
                                            <th>Kunde</th>
                                            <th>Betrag</th>
                                            <th>Bestellt am</th>
                                            <th>Status</th>
                                            <th style="width: 55px"></th>
                                            <th style="width: 55px"></th>
                                            <th style="width: 55px"></th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                    {% if orders %}
                                        {% for order in orders %}
                                        <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.shippingFirstName }} {{ order.shippingLastName }}</td>
                                                <td> </td>
                                                <td>{{ order.orderDate|date("m/d/Y") }}</td>
                                                <td>{{ order.status }}</td>
                                                <td><a href="javascript:deleteCategory({{ order.id }});"><img src="{{ asset('admin/images/icons/delete.png') }}" alt="delete" class="cat_del" /></a></td>
                                                <td><a href=""><img src="{{ asset('admin/images/icons/pencil.png') }}" alt="edit" /></a></td>
                                                <td><a href=""><img src="{{ asset('admin/images/icons/zoom.png') }}" alt="edit" /></a></td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="8" align="center">Keine Bestellungen vorhanden</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                    
                                </table>

                            </section>
                        </div>
                    </div>
                    <!-- End Forms Section -->
                    {% endblock %}
